USE [master]
GO
/****** Object:  Database [States]    Script Date: 5/13/2021 12:45:34 AM ******/
CREATE DATABASE [States]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StateWeather', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StateWeather.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StateWeather_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\StateWeather_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [States].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [States]
GO
/****** Object:  Table [dbo].[State]    Script Date: 5/13/2021 12:45:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[stateName] [nchar](10) NOT NULL,
	[stateID] [int] NOT NULL,
	[stateConsumptionID] [int] NOT NULL,
	[stateWeatherID] [int] NOT NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[stateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateConsumption]    Script Date: 5/13/2021 12:45:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateConsumption](
	[covRation] [int] NULL,
	[dateFrom] [datetime] NULL,
	[dateShort] [datetime] NULL,
	[dateTo] [datetime] NULL,
	[dateUTC] [datetime] NULL,
	[stateCode] [nchar](30) NULL,
	[value] [float] NULL,
	[valueScale] [float] NULL,
	[stateConsumptionID] [int] NOT NULL,
 CONSTRAINT [PK_StateConsumption] PRIMARY KEY CLUSTERED 
(
	[stateConsumptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateWeather]    Script Date: 5/13/2021 12:45:34 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateWeather](
	[airTemperature] [float] NULL,
	[cloudCover] [nchar](50) NULL,
	[devpointTemperature] [int] NULL,
	[gustValue] [int] NULL,
	[horizontalVisibility] [int] NULL,
	[humidity] [int] NULL,
	[presentWeather] [nchar](50) NULL,
	[recentWeather] [nchar](50) NULL,
	[reducedPressure] [float] NULL,
	[stationPressure] [float] NULL,
	[windDirection] [nchar](50) NULL,
	[windSpeed] [int] NULL,
	[stateWeatherID] [int] NOT NULL,
 CONSTRAINT [PK_StateWeather] PRIMARY KEY CLUSTERED 
(
	[stateWeatherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_StateConsumption] FOREIGN KEY([stateConsumptionID])
REFERENCES [dbo].[StateConsumption] ([stateConsumptionID])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_StateConsumption]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_StateWeather] FOREIGN KEY([stateWeatherID])
REFERENCES [dbo].[StateWeather] ([stateWeatherID])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_StateWeather]
GO
USE [master]
GO
