USE [master]
GO
/****** Object:  Database [EvidencijaPotrosnje]    Script Date: 4/27/2021 9:52:42 PM ******/
CREATE DATABASE [EvidencijaPotrosnje]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EvidencijaPotrosnje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EvidencijaPotrosnje.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EvidencijaPotrosnje_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\EvidencijaPotrosnje_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EvidencijaPotrosnje].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EvidencijaPotrosnje]
GO
/****** Object:  Table [dbo].[StateConsumption]    Script Date: 4/27/2021 9:52:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateConsumption](
	[Id] [int] NOT NULL,
	[StateId] [int] NULL,
	[CovRatio] [int] NULL,
	[DateFrom] [datetime] NULL,
	[DateShort] [datetime] NULL,
	[DateTo] [datetime] NULL,
	[DateUTC] [datetime] NULL,
	[StateCode] [nvarchar](250) NULL,
	[Value] [float] NULL,
	[ValueScale] [float] NULL,
 CONSTRAINT [PK_StateConsumption] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateInfo]    Script Date: 4/27/2021 9:52:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateInfo](
	[Id] [int] NOT NULL,
	[Ime] [nvarchar](250) NULL,
 CONSTRAINT [PK_StateInfo] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StateWeather]    Script Date: 4/27/2021 9:52:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StateWeather](
	[Id] [int] NOT NULL,
	[StateId] [int] NOT NULL,
	[AirTemperature] [float] NULL,
	[CloudCover] [nvarchar](250) NULL,
	[DevpointTemperature] [int] NULL,
	[GustValue] [int] NULL,
	[HorizontalVisibility] [nchar](10) NULL,
	[Humidity] [int] NULL,
	[PresentWeather] [nvarchar](250) NULL,
	[ReducedPressure] [float] NULL,
	[StationPressure] [float] NULL,
	[WindDirection] [nvarchar](250) NULL,
	[WindSpeed] [int] NULL,
 CONSTRAINT [PK_StateWeather] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StateConsumption]  WITH CHECK ADD  CONSTRAINT [FK_StateConsumption_StateInfo] FOREIGN KEY([StateId])
REFERENCES [dbo].[StateInfo] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StateConsumption] CHECK CONSTRAINT [FK_StateConsumption_StateInfo]
GO
ALTER TABLE [dbo].[StateWeather]  WITH CHECK ADD  CONSTRAINT [FK_StateWeather_StateInfo] FOREIGN KEY([StateId])
REFERENCES [dbo].[StateInfo] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StateWeather] CHECK CONSTRAINT [FK_StateWeather_StateInfo]
GO
USE [master]
GO
