*{
    font-family: Roboto, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

body {
    background: #1167b1;
    margin: 0;
    height: 100vh;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
label,
select,
textarea {
    max-width: 280px;
    margin: 15px;
}

.text-box {
    background: #d0efff;
    border: 1px solid #0094ff;
}

.btn {
    width: 150px;
    height: 50px;
    font-size: 18px;
    border: 1px solid #0094ff;
    color: white;
    background: #03254c;
    margin: 15px;
}
.navbar .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #187bcd;
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
    color: white;
    border-bottom: 1px solid #0094ff;
}

.navbar-brand {
    display: inline-block;
    color: #fff;
    font-size: 32px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.navbar-brand::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: white;
    transition: 300ms;
}

.navbar-brand:hover::after {
    width: 100%;
}

.navbar-item {
    display: inline-block;
    font-size: 22px;
    font-weight: bold;
    margin: 10px;
    color: #fff;
    text-decoration:dashed;
}

.navbar-item::after {
    content: '';
    width: 0px;
    height: 1px;
    display: block;
    background: white;
    transition: 300ms;
}

.navbar-item:hover::after {
    width: 100%;
}

input {
    color: #03254c;
}
select {
    color: #03254c;
}
option {
    color: #03254c;
}

.import-table {
    width: 100%;
    border-collapse: collapse;
}
.import-table th, td{
    width:13%;
}
.import-table th{
    border:2px solid white;
}

.import-table td {
    text-align:right;
    padding:10px;

    border-right: 2px solid white;
    border-left: 2px solid white;
    
}

.import-table tr {
    border-bottom: 2px dashed white;
}

.import-table tr:last-child {
    border-bottom: 2px solid white;
}

footer {
    width: 100%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    background: #187bcd;
    justify-content: space-between;
    border-top: 1px solid #0094ff;
}

footer > div {
    padding:10px;
}

footer > div > p {
    margin: 5px 0;
}
